.container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartList{
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  margin-bottom: 10rem;
  gap:2rem;
  width: 50rem;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 115%;
  font-weight: 700;
  border: none;
  padding-bottom: 0.5rem;
  border-bottom: 0.3rem solid rgb(71, 94, 124);
}
.titl{
  text-align: center;
}