.eachItem{
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.2rem;
  border-bottom: 0.15rem solid rgb(71, 94, 124);
  font-weight: 500;
  align-items: center;
}
.eq{
  background-color: white;
  border: none;
}
.eq:hover{
  cursor: pointer;
  transition: 0.5s;
  font-size: 102%;
  rotate: 10deg;
}