.footer-container{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: rgb(71, 94, 124);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-text{
  margin-right: 3rem;
}
.left-text{
  margin-left: 3rem;
}
.github{
  color:white;
  text-decoration: none;
}
.github:hover{
  color:white;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}