.navbar{
  color:white;
  background-color: rgb(71, 94, 124);
  right: 0;
  left: 0;
  top: 0;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul{
  margin: 0;
  list-style: none;
  padding: 0;
}
.list{
  display: flex;
  align-items: baseline;
  gap: 1.3rem;
}
.carro{
  margin-right: 3rem;
}
.logo{
  font-size: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 900;
  margin-right: 0.5rem;
  margin-left: 3rem;
}
.option{
  color:white;
  text-decoration: none;
}
.option:hover{
  color: white;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .logo{
    display: none;
  }
  .navbar{
    justify-content: space-around;
  }
  .carro{
    margin-right: auto;
  }
}
@media screen and (max-width: 400px) {
  .navbar{
    font-size: smaller;
  }
}