.product4page-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 5rem;
  align-items: center;
  margin-top: 3rem;
  margin-left: 4rem;
  margin-right: 4rem;
  padding-bottom: 10rem;
}
.first-row{
  display: flex;
  flex-direction: row ;
  justify-content: space-between;
  align-items: baseline;
}
.price{
  margin-right: 2rem;
}
.buy-buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 2.5rem;
  gap: 1rem;
}
.quantity{
  text-align: center;
  font-size: 1rem;
  color: white;
  background-color:rgb(71, 94, 124);
  border: 1px solid rgb(71, 94, 124);
  border-radius: 10px;
  padding-right: 0.5rem;
}
.quantity:focus{
  border:1px solid rgb(71, 94, 124);
  outline:none;
}
.addToCart{
  transition: 1s;
  text-align: center;
  font-size: 1rem;
  width: 7rem;
  color: white;
  background-color:rgb(71, 94, 124);
  border: 1px solid rgb(71, 94, 124);
  border-radius: 10px;
}
.addToCart:hover{
  cursor: pointer;
}
.addToCart:focus{
  border:1px solid rgb(71, 94, 124);
  outline:none;
}
.disable{
  transition: 1s;
  background-color: white;
  color: rgb(54, 117, 76);
  width: 6rem;
  border: 3px solid rgb(54, 117, 76);
  border-radius: 100px;
}
.disable:hover{
  cursor: not-allowed ;
}
.product4page-left2{
  display:none;
}
.product4page-left3{
  display: none;
}
@media screen and (max-width: 900px) {
  .product4page-container{
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .product4page-left1{
    display: none;
  }
  .product4page-left2{
    display: flex;
  }
  .product4page-left3{
    display: none;
  }
}
@media screen and (max-width: 470px) {
  .product4page-left1{
    display: none;
  }
  .product4page-left2{
    display: none;
  }
  .product4page-left3{
    display: flex;
  }
  .buy-buttons{
    justify-content: center;
  }
}
